@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans.ttf');
}

/* Welcome Screen  */

#welcomeScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-border-color: black;
    -fx-background-image: url('../img/welcome-bg.jpg');
}

#welcomeScreen #battleshipLabel {
    -fx-text-fill: #000;
    -fx-font-size: 45px;
    -fx-effect: dropshadow(one-pass-box, #fff, 4, 0, 0, 0);
}

#welcomeScreen #title-by {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 14px;
    -fx-fill: #000;
    -fx-effect: dropshadow(one-pass-box, #fff, 2, 0, 0, 0);
}

/* Start Game Screens */

#startGameScreen, #enterNameScreen, #enterIPScreen, #loadingScreen, #errorScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: black;
    -fx-background-image: url('../img/start-game-bg.jpg');
}

/* Battleship Screens */

#battleshipScene {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-border-color: black;
    -fx-background-image: url('../img/battleship-bg.jpg');
}

/* General Styles */

.title {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 35px;
    -fx-fill: #fff;
}

.title-by {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 12px;
    -fx-fill: #fff;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-color: #090a0c, linear-gradient(to right, #090909 0%, #292929 100%);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans";
    -fx-opacity: .9;
    -fx-effect: dropshadow(one-pass-box, #000, 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #090a0c, linear-gradient(to right, #000 0%, #1e1e1e 100%);
}

.button:pressed {
    -fx-background-color: #000;
}

.textField {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-opacity: .7;
    -fx-background-color: #000;
}

.darkPane {
    -fx-background-color: #000;
    -fx-opacity: .8;
    -fx-background-radius: 10px;
}

.darkPane .darlPaneLabel {
    -fx-fill: #fff;
    -fx-font-size: 10px;
}

.buttonPane:hover, .buttonPanePressed {
    -fx-background-color: #292929;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, .4), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.playersTurn {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 40, 0, 0, 0);
}